@import './settings/_utilities.scss';

.hero-featured-wrapper {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-heading-wrapper {
  position: absolute;
  top: 30%;
  right: 0;
  max-width: 30%;
  padding: 3rem;
}

.title-main,
.post-category-text {
  color: white;
}

.title-main {
  float: right;
  font-size: 7rem;
  padding-bottom: 4rem;
  text-align: left;
  font-family: $app-heading-font;
}

.title-description {
  margin-top: 4rem;
  font-size: 18px;
  font-family: $app-body-font;
}

.post-category-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.3rem;
}

.post-number {
  position: absolute;
  top: -5%;
  right: 10%;
  font-size: 19rem;
  line-height: 1;
  font-weight: bold;
  color: rgba(255,255,255,0.2);
}
