$app-heading-font: 'Hind', sans-serif !default;
$app-subheading-font: 'Inconsolata', monospace !default;
$app-body-font: 'Quattrocento', serif !default;

$app-bold-weight: 700;
$app-regular-weight: 400;
