<div class="primary-header-nav">
  <div class="bp-display-flex bp-flex-justify-space-between">
    <div class="bp-logo-wrapper">
      <a href="#" class="bp-header-logo bp-display-inline-block"></a>
    </div>
    <div class="header-search-wrapper bp-display-flex">
      <label>
        <input type="search" placeholder="search">
        <span class="search-icon bp-display-inline-block"></span>
      </label>
      <button role="button" type="button" class="primary-nav-menu-icon"></button>
    </div>
  </div>
</div>
